
.home-container{
    width: 100%;
    padding-left: 0%;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
}

.home-msg{
    text-align: center;
    font-size: 48px;
}

.brand{
    width:250px;
}

.brand img{
   width: 200px;
   height: 200px;
   padding: 5px;
   object-fit: contain;
}

.table-container{
    margin-left: 20%;
    width: 60%;
    border-top: 1px solid #ccc
}

.studios{
    width: 100%;
}

.studios p{
    font-size: 36px;
    text-align: center;
}

.studios a{
    font-size: 20px;
    background: #ccc;
    padding: 15px;
    text-decoration: none;
}

.studios a:hover{
    background: #5fb618;
}
